/* Partie Discu */

.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.chat-container {
    background: #fff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    padding: 20px;
}

.chat-message {
    margin-bottom: 20px;
}

.human {
    text-align: right;
}

.ai {
    text-align: left;
}

.human p,
.ai p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
}

.human p {
    background: #F4F4F4;
}

.ai p {
    background: white;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Partie Quiz */

.container {
    max-width: 60%;
    margin: auto;
    padding: 45px;
    margin-top: 45px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    margin-top: 7%;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.incorrect {
    border: 1px solid red;
}

.popup-paragraph {
    position: fixed;
    font-family: 'Chivo', sans-serif;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.conversation {
    display: flex;
    flex-direction: column;
}

.message {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    margin: 10px;
}

.message.human {
    align-self: flex-end;
    text-align: right;
    background: #8b32ff;
    color: white;
}

.message.ai {
    align-self: flex-start;
    text-align: left;
    color: black;
    background: #F4F4F4;
}

button.enabled {
    background-color: green;
    color: white;
    width: 26%;
    margin: auto;
    cursor: pointer;
}

button.disabled {
    background-color: gray;
    color: darkgray;
    width: 26%;
    margin: auto;
    cursor: not-allowed;
}