<div class="fond_blanc">
    <div id="warningScreen" class="screen">
        <div class="message centered-text">
            Attention, ce site contient du son
            <span id="arrowWarning" class="material-symbols-rounded arrow">
                play_arrow
            </span>
        </div>
    </div>
    <div id="phoneScreen" class="screen" style="display:none;">
        <img src="assets/debut/phone.png" alt="Téléphone fixe" id="phone" class="phone">
    </div>
    <div id="dialogueScreen" class="screen" style="display:none;">
        <p id="dialogueText" class="centered-text"></p>
        <span id="arrowDialogue" class="material-symbols-rounded arrow">
            play_arrow
        </span>
        <button id="startPcButton" class="hidden-button centered-text" style="display:none;">Allumer le PC</button>
    </div>
</div>
