<div class="parent">
  <div class="div1 float card p-15 bg-dark">
    <h1>    <span class="material-symbols-rounded m-r-10 ">
      waving_hand
      </span>Bienvenue Charlie !</h1>

    <p class="f-12 chivo">
      Je suis DATAIA, votre assistant intelligent spécialisé dans le traitement
      des données et la création de graphiques pour aider à l'analyse.
    </p>
  </div>

  <div class="div4 font-darker f-small ">
    <h2>Analyses ....</h2>
    <p  class="chivo justify f-12 ">
        Le tableau comprend plusieurs variables pour l'analyse des causes de
        mortalité. Je vais utiliser ces variables pour créer des graphiques variés
        qui révèlent des tendances et des corrélations. 
    </p>      
    <p class="f-12">
      <em>Année_décès, Sexe, classe_age, Cause initiale: classe, Cause initiale: bloc, Cause initiale: chapitre</em>  
    </p>  
  </div>
  <div class="div6 card p-25 bg-grey">

    <div class=" card loader-4">
      <span></span>
    </div>
    
  </div>

  <div class="div7 card col bg-grey p-25 font-darker">
    <div class="row">
      <h2>Jeux de données</h2>
      <span class="material-symbols-rounded m-l-10"> database </span>
    </div>
    <!-- <h5>Téléchargé(s)</h5> -->

    <!-- Capsule  -->
    <div class="bg-white row-2 float light-shadow m-10-10-10 p-5">
      <div class="bloc1">
        <h4>Identifiant :</h4>
        <span class="pitagon"> causes_medicales_deces_nc </span>
      </div>
      
      <div class="bloc2">
        <!-- Pourcentage de telechargement -->
        <div class="loading">
          <svg xmlns="http://www.w3.org/2000/svg" width="124" height="124" viewBox="0 0 124 124">
            <circle class="circle-loading" cx="62" cy="62" r="59" fill="none" stroke="hsl(271, 76%, 74%)" stroke-width="6px"></circle>
            <circle class="circle" cx="62" cy="62" r="59" fill="none" stroke="hsl(271, 76%, 53%)" stroke-width="6px" stroke-linecap="round"></circle>
            <polyline class="check" points="73.56 48.63 57.88 72.69 49.38 62" fill="none" stroke="hsl(271, 76%, 53%)" stroke-width="6px" stroke-linecap="round"></polyline>
          </svg>
        </div>
       
      </div>
    </div>
  </div>
  <!-- FIN Capsule  -->

  <div class="div3 font-darker  p-25  col">
    <div class="row">
      <h2>Interactivité</h2>
      <span class="material-symbols-rounded m-l-10"> ads_click </span>
    </div>
    <h5>Ces icônes permettent d'interagir avec les graphiques</h5>

    <div class="col scroll scroll-shadow m-10-10-5 bg-grey">
      <div class="bg-white row-2 p-10 float light-shadow m-10-10">
        <div class="bloc2">
          <span class="material-symbols-rounded"> add_circle </span>
        </div>
        <div class="bloc1">
          <h4>Zoom</h4>
          <span class="pitagon"
            >Faire un gros plan sur une partie du graphique</span
          >
        </div>
      </div>
      <div class="bg-white row-2 p-10 float light-shadow m-10-10">
        <div class="bloc2">
          <span class="material-symbols-rounded"> do_not_disturb_on </span>
        </div>
        <div class="bloc1">
          <h4>Dezoom</h4>
          <span class="pitagon"
            >Réduire ou annuler un zoom, un effet d'éloignement ou de
            rapprochement par l'utilisation d'un zoom.</span
          >
        </div>
      </div>
      <div class="bg-white row-2 p-10 float light-shadow m-10-10">
        <div class="bloc2">
          <span class="material-symbols-rounded"> zoom_in </span>
        </div>
        <div class="bloc1">
          <h4>Zoom de sélection</h4>
          <span class="pitagon"
            >Permet de zoomer sur une partie sélectionnée</span
          >
        </div>
      </div>

      <div class="bg-white row-2 p-10 float light-shadow m-10-10">
        <div class="bloc2">
          <span class="material-symbols-rounded"> pan_tool </span>
        </div>
        <div class="bloc1">
          <h4>Outil de panoramique</h4>
          <span class="pitagon">Permet de se déplacer sur le graphique</span>
        </div>
      </div>

      <div class="bg-white row-2 p-10 float light-shadow m-10-10">
        <div class="bloc2">
          <span class="material-symbols-rounded"> home </span>
        </div>
        <div class="bloc1">
          <h4>Réinitialiser le zoom</h4>
          <span class="pitagon">Rétablir le graphique à son état inital </span>
        </div>
      </div>
      <div class="bg-white row-2 p-10 float light-shadow m-10-10">
        <div class="bloc2">
          <span class="material-symbols-rounded"> menu </span>
        </div>
        <div class="bloc1">
          <h4>Menu</h4>
          <span class="pitagon">Pour télécharger en SVG, PNG, SVG</span>
        </div>
      </div>
      <div class="bg-white row-2 p-10 float light-shadow m-10-10">
        <div class="bloc2">
          <span class="material-symbols-rounded"> home </span>
        </div>
        <div class="bloc1">
          <h4>Réinitialiser le zoom</h4>
          <span class="pitagon"> causes_medicales_deces_nc </span>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark div5 card p-25  ">
    <h2>Informations sur le fichier</h2>
    <div class="scroll-shadow-2 m-10-10-5 bg-white">
      <table class="table_donnees">
        <tr>
          <th>Identifiant du jeu de données</th>
          <td>causes_medicales_deces_nc</td>
        </tr>
        <tr>
          <th>Téléchargement</th>
          <td>164</td>
        </tr>
        <tr>
          <th>Thèmes</th>
          <td>Santé, Social, Handicap</td>
        </tr>
        <tr>
          <th>Mots clés</th>
          <td>
            deces, sante, medical, maladie, cardiaque, respiratoire, infarctus,
            tumeur, mortalité, mort, PacificDatavizChallenge2024
          </td>
        </tr>
        <tr>
          <th>Licence</th>
          <td>Licence Ouverte v2.0</td>
        </tr>
        <tr>
          <th>Langue</th>
          <td>Français</td>
        </tr>
        <tr>
          <th>Producteur</th>
          <td>Gouvernement de la Nouvelle-Calédonie</td>
        </tr>
        <tr>
          <th>Référence</th>
          <td><a href="https://dass.gouv.nc/">https://dass.gouv.nc/</a></td>
        </tr>
        <tr>
          <th>Attribution</th>
          <td>Direction des Affaires Sanitaires et Sociales (DASS)</td>
        </tr>
        <tr>
          <th>Périodicité</th>
          <td>Annuelle</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="div2 p-25 f-small container font-darker">
    <h2>Clarifications</h2>

    <!-- Accordéon avec cases à cocher -->
    <div class="accordion">
      <div *ngFor="let item of items; let i = index">
        <label (click)="toggle(i)" [class.active]="selectedIndex === i">{{ item.title }}</label>
        <div class="panel  " [ngClass]="{'open': selectedIndex === i}">
          <p class="chivo f-12">{{ item.content }}</p>
        </div>
      </div>
    </div>
</div><!-- /.container -->

<div class="div8 ">
  <section class="loader-3">
    <div style="--i:0" class="slider"></div>
    <div style="--i:1" class="slider"></div>
    <div style="--i:2" class="slider"></div>
    <div style="--i:3" class="slider"></div>
    <div style="--i:4" class="slider"></div>
  </section>

</div>

</div>
